# Predicting the type of flower

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# ML libraries
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
iris = pd.read_csv('http://bit.ly/IrisDataset')
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
iris['species'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: species, dtype: int64

### Correlations

In [4]:
df_corr = iris.corr()
df_corr

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [5]:
# VIF scores
pd.DataFrame(np.linalg.inv(df_corr.values), index=df_corr.index, columns=df_corr.columns)

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      7.103113    -2.435671    -10.762021     3.682771
sepal_width      -2.435671     2.099039      5.025945    -2.098099
petal_length    -10.762021     5.025945     31.397292   -19.633160
petal_width       3.682771    -2.098099    -19.633160    16.141564

In [6]:
# Which one should be dropped? if necessary

In [7]:
# Change the labels to numerical values

# Change the column to category datatype

iris['species'] = iris['species'].astype('category')
iris.dtypes

sepal_length     float64
sepal_width      float64
petal_length     float64
petal_width      float64
species         category
dtype: object

In [8]:
iris['species_no'] = iris['species'].cat.codes
iris['species_no'].value_counts

<bound method IndexOpsMixin.value_counts of 0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species_no, Length: 150, dtype: int8>

### Final Encoding values

->  Iris-setosa = 0

->  Iris-versicolor =  1

->  Iris-virginica = 2

In [9]:
# Missing values
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
species_no      0
dtype: int64

In [10]:
# Duplicates
iris.duplicated().sum()

# Duplicates might help enforcing predictions

3

# Logistic regression

In [11]:
X = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].values
y = iris['species_no'].values

In [12]:
# Training sets and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None)

In [13]:
logistic_regressor = LogisticRegression()
logistic_regressor.fit(X_train, y_train)

LogisticRegression()

In [14]:
y_pred = logistic_regressor.predict(X_test)

In [15]:
# Comparing predicted values to OG

df_comp = pd.DataFrame({'OG' : y_test, 'Predictions' : y_pred})
df_comp

    OG  Predictions
0    1            1
1    2            1
2    2            2
3    0            0
4    0            0
5    0            0
6    2            2
7    0            0
8    1            1
9    2            2
10   2            2
11   1            1
12   1            1
13   1            2
14   1            1
15   0            0
16   0            0
17   2            2
18   0            0
19   0            0
20   2            2
21   2            2
22   2            2
23   0            0
24   2            2
25   0            0
26   1            1
27   1            2
28   1            1
29   2            2

In [16]:
# Model evaluation
from sklearn.metrics import confusion_matrix

confusion = confusion_matrix(y_test, y_pred)
confusion

array([[10,  0,  0],
       [ 0,  7,  2],
       [ 0,  1, 10]])

In our confusion matrix, we are told we have 10, 9 and 10 values that are correct

Only one value is wrong, so our model is reliable

In [17]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.9